.plastic-body {
    display: flex;
    flex-direction: column;
}

.first-chunk, .second-chunk, .third-chunk, .fourth-chunk, .final-chunk {
    display: flex;
    background-color: lightcyan;
    border: 1px solid black;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .divide, .multiply, .minus, .add, .equal, .decimal, .zero, .clear-button, .display-screen {
    border: 1px solid black;
    padding: 2em;
}

